{% extends 'base.html' %}
{% load staticfiles %}

{% block header_extends %}
{% endblock %}

{% block title %}
    shoe dog
{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Register</h3>
                    </div>
                    <div class="panel-body">
                        <form action='#' method="POST">
                             {% csrf_token %}
                             {% for field in registerform %}
                                 <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                 {{ field }}
                                 <p class="text-danger">{{ field.errors.as_text }}</p>
                             {% endfor %}
                             <span class="pull-left text-danger">{{ registerform.non_field_errors }}</span>
                             <input type="submit" value="login" class="btn btn-primary pull-right" style="margin-top: 1em">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}